dialog::backdrop {
    background-image: url("patrick-tomasso.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*
    background: repeating-linear-gradient(
      30deg,
      rgba(24, 194, 236, 0.2),
      rgba(24, 194, 236, 0.2) 1px,
      rgba(24, 194, 236, 0.3) 1px,
      rgba(24, 194, 236, 0.3) 20px
    );
    */
    backdrop-filter: blur(1px)
  }