body {
  background-image: url("elijah.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(1px);
  color: aliceblue;
}

dialog::backdrop {
    background-image: url("patrick-tomasso.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(1px)
  }