body {
  background-image: url("images/elijah.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(1px);
  color: aliceblue;
}

dialog::backdrop {
    background-image: url("images/patrick-tomasso.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(1px)
  }